<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车站查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="__STATIC__/index/css/otherCSS.css">
</head>
<body>
{include file="common/import" /}
{include file="common/header" /}
<main>
    <div class="middle-wrapper">
        <div class="list bbroder">
            <label for="">站点名称</label>
            <div class="span">
                <input type="text"  class="train-name" id="train-name" value="北京" name="trainName">
                <i class="arrow"></i>
            </div>

        </div>
        <!--<div class="list" id="time">-->
            <!--<label for="">乘坐日期</label>-->
            <!--&lt;!&ndash;id="dateTime"&ndash;&gt;-->
            <!--<div class="span"  style="width: 70%;text-align: center">-->
                <!--<i class="time"></i>-->
                <!--<p id="show-time">2018-05-08</p>-->
                <!--<i class="arrow"></i>-->
            <!--</div>-->
        <!--</div>-->

        <div class="bottom-swapper">
            <button id="submit" data-options="{:url('index/station/trainList')}">查询</button>
        </div>
    </div>
        <div id="calender-wrapper">
            <div id="calender" style="width:270px;margin: auto;height: 220px"></div>
        </div>
</main>
{include file="common/footer" /}
</body>
<script>
    var url = "{$Think.config.url}";
</script>
<script src="__STATIC__/index/js/station.js"></script>
</html>