<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer>
    <div class="list icon1" index="index">
        <a href="{$Think.config.url}/index">
           <div class="items-icon">
           </div>
            <span>站站</span>
        </a>
    </div>
    <div class="list icon2" index="train">
        <a href="{$Think.config.url}/train">
            <div class="items-icon">
            </div>
            <span>车次</span>
        </a>
    </div>
    <div class="list icon3" index="station">
        <a href="{$Think.config.url}/station">
            <div class="items-icon">
            </div>
            <span>站点</span>
        </a>
    </div>
    <div class="list icon4" index="user">
        <a href="{$Think.config.url}/user">
            <div class="items-icon">
            </div>
            <span>用户</span>
        </a>
    </div>
</footer>
</body>
<script src="__STATIC__/index/js/footer.js"></script>
</html>