<div id="stations">
    <div id="back">
        <a href="index">
            <span></span>
        </a>
        <div class="white-block"></div>
    </div>

    <div class="station">
        <span></span>
        <p>
            <input type="text" name="station" id="inp-station" placeholder="请输入查询站名">
            <input type="button" name="sure" id="surebtn" value="搜索">
        </p>
    </div>
    <div class="stationList">
        <span>常用站点</span>
        <ul class="list">
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li>贵阳</li>
            <li>天津</li>
            <li>深圳</li>
            <li>西安</li>
            <li>石家庄</li>
            <li>厦门</li>
            <li>杭州</li>
            <li>徐州</li>
            <li>福州</li>
            <li>厦门</li>
            <li>杭州</li>
            <li>徐州</li>
            <li>福州</li>
        </ul>
    </div>
    <div class="white-block">

    </div>
</div>
