<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-order">
            <dt>
                <i class="Hui-iconfont">&#xe627;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/order/orderList')}" data-title="全部订单" href="javascript:void(0)">全部订单</a></li>
                    <li><a data-href="{:url('admin/order/orderHandle')}" data-title="处理中订单" href="javascript:void(0)">处理中订单</a></li>
                    <li><a data-href="{:url('admin/order/orderFinish')}" data-title="已完成订单" href="javascript:void(0)">已完成订单</a></li>
                    <li><a data-href="{:url('admin/order/orderDel')}" data-title="已删除订单" href="javascript:void(0)">已删除订单</a></li>
                </ul>
            </dd>
        </dl>
        <!--<dl id="menu-picture">-->
            <!--<dt>-->
                <!--<i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a data-href="{:url('admin/picture/pictureList')}" data-title="用户头像管理" href="javascript:void(0)">用户头像管理</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->


        <dl id="menu-member">
            <dt>
                <i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/member/memberList')}" data-title="会员列表" href="javascript:;">会员列表</a></li>
                    <li><a data-href="{:url('admin/member/memberAdd')}" data-title="添加会员" href="javascript:;">添加会员</a></li>
                    <li><a data-href="{:url('admin/member/memberDel')}" data-title="删除会员" href="javascript:;">删除会员</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt>
                <i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/admin/adminList')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                    <li><a data-href="{:url('admin/admin/adminRole')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
                    <!--<li><a data-href="{:url('admin/admin/adminPerminss')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>-->

                </ul>
            </dd>
        </dl>

        <dl id="menu-agents">
            <dt>
                <i class="Hui-iconfont">&#xe620;</i> 代理商管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/agents/agentsList')}" data-title="代理商列表" href="javascript:void(0)">代理商列表</a></li>
                    <li><a data-href="{:url('admin/agents/agentsAdd')}" data-title="添加代理商" href="javascript:void(0)">添加代理商</a></li>
                    <li><a data-href="{:url('admin/agents/agentsSearch')}" data-title="查询代理商" href="javascript:void(0)">查询代理商</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>