<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>查看订单</title>
    <link href="__STATIC__/hui/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
{include file="common/import"/}
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        {volist name='info' id='items'}
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">用户名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['uname']} disabled  name="uname">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">订单号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['oid']} disabled name="orderNum">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">下单时间：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['payTime']} disabled name="orderTime">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">车次：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['trainNum']} disabled  name="trainNum">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">始发站：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['startStation']} disabled  name="startStation">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">终点站：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['endStation']} disabled  name="endStation">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">购票数量：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['count']} disabled  name="totalMoney">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">总金额：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['cashTotal']} disabled  name="totalMoney">
                </div>
            </div>
        {/volist}

        {volist name='tricks' id='items'}
            <div class="row cl">
                <label class="form-label col-sm-12" style="border-bottom: 1px solid #ccc">购票人信息</label>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">购票人姓名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['uidName']} disabled  name="buyname">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">购票身份类型：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['outTrickType']} disabled  name="identityType">
                </div>
            </div>

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">证件号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['uidCard']} disabled  name="identityType">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">座位类型：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value={$items['seatType']} disabled  name="identityType">
                </div>
            </div>
        {/volist}

    </form>
</div>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/hui/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script>DD_belatedPNG.fix('*');</script>
</body>
</html>