<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="__STATIC__/index/css/user.css">
</head>
{include file="common/import" /}
{include file="common/header" /}
<main>
    <div id="service">
        <h6>生活服务</h6>
        <div class="serviceList">
            <a href="">
                <div class="list">
                    <label for="">去哪儿</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">飞猪</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">携程旅行</label>
                    <i class="arrow"></i>
                </div>
            </a>
            <a href="">
                <div class="list">
                    <label for="">已完成订单</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">个人信息</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">帮助</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">关于我们</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">版本</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">帮助说明</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">分享</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="">
                <div class="list">
                    <label for="">生活服务</label>
                    <i class="arrow"></i>
                </div>
            </a>

            <a href="javascript:void(0);" id="lagout">
                <div class="list">
                    <label for="">退出</label>
                    <i class="arrow"></i>
                </div>
            </a>
        </div>
    </div>
</main>
{include file="common/footer" /}
